.button {
  padding: 2px;
  margin-left: 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a0a0a0;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: lightgray;
}

.leftActions,
.rightActions {
  display: flex;
  gap: 10px;
}