.memorytable tbody {
  max-height: calc(100vh - 123px);
}

.memorytable th:nth-child(1),
.memorytable td:nth-child(1) {
  width: 25%;
}

.memorytable th:nth-child(2) {
  width: 48%;
}

.memorytable td:nth-child(2) {
  width: 50%;
}