.tableContainer {
  display: flex;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  height: 80vh;
}

.address {
  width: 100px;
}

.addresshexa {
  background-color: rgba(128, 128, 128, 0.089);
}

input {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

.input:focus {
  outline-color: lightgray;
}