.button {
  font-size: 20px;
  padding: 0px;
  margin-left: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e0e0e0;
}

.button span{
  font-size: medium;
}
