.navbar {
  display: flex;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.leftActions {
  display: flex;
  gap: 10px;
}

.title {
  font-weight: bold;
  font-size: large;
  color: black;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.button {
  font-size: 20px;
  padding: 0px;
  margin-left: 5px;
  border: none;
  background-color: grey;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e0e0e0;
}

.rightActions {
  display: flex;
  gap: 10px;
}

.circleConnected {
  font-size: 10px;
}

.input {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  width: 45px;
  height: 30px;
  color: black;
  vertical-align: middle;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
}

.serial {
  display: flex;
  align-items: center;
  justify-content: 'space-between';
  gap: 5px;
}