.logtable {
  background-color: black;
  color: whitesmoke;
}

.logtable td {
  border: 0px;
  text-align: left;
  padding: 1px 0px 0px 15px;
}

.logtable td.title {
  font-weight: bold;
  text-align: left;
  color: lightgreen;
  padding-left: 5px !important;
}

.logtable tfoot{
  display: none;
}

.logtable tr{
  border: 0px !important
}