.tableContainer {
  display: flex;
  height: 35vh;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  align-items: flex-start;
}

.title {
  font-weight: bold;
}

.left{
  text-align: left;
}

td{
  font-size: 12px;
}