body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: calc(100vh - 5vh);
}

.left,
.right {
  width: 33%;
  padding: 0px;
  box-sizing: border-box;
}

.left {
  border-right: 5px solid grey;
}

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  table-layout: auto;
  overflow: auto;
}

th,
td {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: rgba(128, 128, 128, 0.089);
}

h1,
h2,
h3 {
  text-align: center;
}


input {
  width: 100%;
  border: none;
  background: none;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

input:focus {
  outline-color: lightgray;
}